.container{
    display:flex;
    /* flex-wrap: wrap;  */
    justify-content: space-around;
} 
.gridbox{
    
    box-shadow: 10px 8px 10px 8px #888888; 
    margin: 10px 10px!important;
    border: 10px 10px !important; 
    
}
@media(max-width:770px){
    .card {
        margin: 2% 0 !important;
    }
} 