.smallTable{
    width: auto;
    overflow-x: auto;
    display: flex;
    justify-content: center ;   
}
table, th, td {
    width: 50% !important;
    color: white;
    border-radius: 10px;
  }
  th, td {
    padding: 15px;
    background-color: #121212;
  }
  table{
    padding: 2% !important;
}
.stateHeader{
    width: 10% !important;
    overflow-x: scroll;
}

@media(max-width:770px){
    .smallTable{
        overflow-x: auto;
        display: flex;
        justify-content: center ;
        padding-left: 25% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .stateHeader{
        width: 0% !important;
        overflow-x: scroll;
    }
    table{
        padding-left: 15% !important;
    }

}