.searchbox {
    margin: 0px auto;
    border: 0px auto ;
    padding: 0px;
    height: 500px;
    width: 250px;
    color: red;
    justify-content: center;
    align-content: center;
  }
  .label{
      display: block;
      text-align: center;
      margin-bottom:0.75rem;
  }
  .date_time{
    display: block;
    text-align: center;
    margin-top:0.75rem; 
  }
  @media(max-width:770px){
    .searchbox {
        margin: 2% auto !important;
    }
} 